h1, h2 {
  font-family: Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 42px;
  letter-spacing: -0.06em; }

p, button {
  font-family: monospace;
  font-size: 12px;
  font-weight: normal; }

p {
  line-height: 16px; }

.type {
  padding: 5px 30px;
  max-width: 400px; }
  @media screen and (max-width: 480px) {
    .type {
      margin: auto; } }
