
h1, h2{
	font:{
		family: Arial, sans-serif;
		size:40px;
		weight:bold;
	}
	line-height:42px;
	letter-spacing:-0.06em;
	}
p, button{
	font:{
		family:monospace;
		size:12px;
		weight:normal;
	}

	}

p{
	line-height:16px;
	}

.type{

	padding:5px 30px;
	max-width:400px;

	@media screen and (max-width: 480px) {
		// mobile
			margin:auto;
			}
	@media screen and (min-width:481px) and (max-width:800px) {
		// tablet
			}
	@media screen and (min-width: 801px) {
		// desktop
			} 	

}