svg#dial(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='350px', height='350px', viewbox='50.5 168.5 350 350', enable-background='new 50.5 168.5 350 350', xml:space='preserve').dial-m.turn-mshadow
  filter#blur
    fegaussianblur(in='SourceGraphic', stddeviation='6')
  g
    path(fill='#000', d='M230.492,343.5v-90.602l-4.99-6.152l-4.993,6.152V343.5H230.492z', filter='url(#blur)')
