$medium:      #333
$red:         #dd2d42
$default:     #ccc
$midGrey:     #afafaf
$lightGrey:   #f2f2f2
$darkGrey:    #333
$base:        #ededed

$desktop-min: 931px
$tablet-max:  930px
$tablet-min:  640px
$phone-max:   639px

// @import "includes/normalize.sass"
@import "includes/type.sass"
@import "includes/components.sass"
@import "includes/swatch.sass"
@import "includes/ribbon.sass"
@import "includes/grid.sass"


