h1 .char2 {
  vertical-align: top;
  margin-left: -0.086em; }

h1 .char3 {
  vertical-align: top;
  margin-left: -0.012em; }

h1 .char4 {
  vertical-align: top; }

h1 .char6 {
  vertical-align: top;
  margin-left: -0.012em; }

h1 .char7 {
  vertical-align: top;
  margin-left: 0.012em; }

h1 .char15 {
  vertical-align: top;
  margin-left: -0.012em; }

h1 .char13 {
  vertical-align: top;
  margin-left: 0.025em; }

h1 .char11 {
  vertical-align: top; }

h1 .char10 {
  vertical-align: top;
  margin-left: -0.025em; }
