@mixin rounded($radius) {
     -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
             border-radius: $radius;
}

@mixin shadow($distance) {
	-webkit-box-shadow: $distance $distance 0px 0px rgba(0,0,0,1);
	-moz-box-shadow: $distance $distance 0px 0px rgba(0,0,0,1);
	box-shadow: $distance $distance 0px 0px rgba(0,0,0,1);
}



@mixin rocking($name) {

		@-webkit-keyframes $name {
		  0%   { opacity: 0; }
		  100% { opacity: 1; }
		}

		@-moz-keyframes $name {
		  0%   { opacity: 0; }
		  100% { opacity: 1; }
		}

		@-o-keyframes $name {
		  0%   { opacity: 0; }
		  100% { opacity: 1; }
		}

		@keyframes $name {
		  0%   { opacity: 0; }
		  100% { opacity: 1; }
		}
}

