.def.glass.offset
  img(src='bird/unit-glass.png').h300.time

.def.tone
  img(src='bird/unit-tone.png').h400

.def.node.offset
  svg.h300
    use(xlink:href='#node')

.def.minutes.offset
  svg.h300
    use(xlink:href='#minutes')

.def.wedge
  svg.h400
    use(xlink:href='#wedge')

.def.dial
  svg.h400
    use(xlink:href='#dial')

.def.roundel
  svg.h400
    use(xlink:href='#roundel')

.def.shape
  svg.h400
    use(xlink:href='#shape')

.def.shadow
  img(src='bird/unit-shadow.png').h400


.swatch-boundary
  .swatch-wrap
    .ribbon
    .ribbon
    .ribbon