img(src='bird/unit-texture.png')

svg.bird-face
  use(xlink:href='#node').node

svg.bird-face
  use(xlink:href='#minutes').minutes

svg.bird-body
  use(xlink:href='#wedge').wedge

svg.bird-body
  use(xlink:href='#dial').dial

svg.bird-body
  use(xlink:href='#roundel').roundel

svg.bird-body
  use(xlink:href='#shape').shape

img(src='bird/unit-shadow.png')

.swatch-boundary
  .swatch-wrap
    .ribbon
    .ribbon
    .ribbon