img(src='bird/unit-texture.png')
img(src='bird/unit-roundel.svg')
img(src='bird/unit-wedge.svg')
img(src='bird/unit-base.svg')
img(src='bird/unit-shadow.png')

.swatch-boundary
  .swatch-wrap
    .ribbon
    .ribbon
    .ribbon