.perspective-wrap
	.perspective
		.glass
		img(src="iso/type.png").type
		img(src="iso/ring.svg").ring
		img(src="iso/seconds.svg").seconds
		img(src="iso/node.svg").node
		img(src="iso/dial-m.svg").dial-m.turn-m
		include svg/_dial-mshadow
		img(src="iso/dial-h.svg").dial-h.turn-h
		img(src="iso/check.svg").check
	.bitmap
		img(src="iso/trunk.svg").trunk
		img(src="iso/reflection.svg").reflection

