img(src='svg/unit-texture.png')
img(src='svg/unit-roundel.svg')
img(src='svg/unit-wedge.svg')
img(src='svg/unit-base.svg')
img(src='svg/unit-shadow.png')

.swatch-boundary
  .swatch-wrap
    .ribbon
    .ribbon
    .ribbon