doctype html
html
  head
    title ATOP
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', media='screen', href='css/app.css')

  body(data-role='page')
    include _nav
    include _grid

    section#hero.type.hero
      h1 ATOP the world.
    hr
    section.type.intro
      .col
        h2 The new ATOP world series
        p We gave our classic series a twist.
        p Our unique patented world time movement now comes in a variety of colours for every personality.
        p Made from high grade PC and with an aluminium alloy city bezel to switch to the desired timezone attached to a sweat resistant silicon rubber strap. The hands are copper alloy with luminous functionality for better visibility.
    
    hr



    section#range.product
      ul
        li
          section.box
            a#product01.watch(href='#profile', data-id='01')
              img(src='img/product/vwa01.png')
            .swatch-boundary
              .swatch-wrap
                .r1.ribbon.vwa01-A
                .r2.ribbon.vwa01-B
                .r3.ribbon.vwa01-C
        li
          section.box
            a#product02.watch(href='#profile', data-id='02')
              img(src='img/product/vwa02.png')
            .swatch-boundary
              .swatch-wrap
                .r1.ribbon.vwa02-A
                .r2.ribbon.vwa02-B
                .r3.ribbon.vwa02-C
        li
          section.box
            a#product03.watch(href='#profile', data-id='03')
              img(src='img/product/vwa03.png')
            .swatch-boundary
              .swatch-wrap
                .r1.ribbon.vwa03-A
                .r2.ribbon.vwa03-B
                .r3.ribbon.vwa03-C
        li
          section.box
            a#product01.watch(href='#profile', data-id='04')
              img(src='img/product/vwa04.png')
            .swatch-boundary
              .swatch-wrap
                .r1.ribbon.vwa04-A
                .r2.ribbon.vwa04-B
                .r3.ribbon.vwa04-C
        li
          section.box
            a#pr5duct02.watch(href='#profile', data-id='05')
              img(src='img/product/vwa05.png')
            .swatch-boundary
              .swatch-wrap
                .r1.ribbon.vwa05-A
                .r2.ribbon.vwa05-B
                .r3.ribbon.vwa05-C
        li
          section.box
            a#product03.watch(href='#profile', data-id='06')
              img(src='img/product/vwa06.png')
            .swatch-boundary
              .swatch-wrap
                .r1.ribbon.vwa03-A
                .r2.ribbon.vwa03-B
                .r3.ribbon.vwa03-C
        li
          section.box
            a#product01.watch(href='#profile', data-id='07')
              img(src='img/product/vwa07.png')
            .swatch-boundary
              .swatch-wrap
                .r1.ribbon.vwa07-A
                .r2.ribbon.vwa07-B
                .r3.ribbon.vwa07-C
        li
          section.box
            a#pr5duct02.watch(href='#profile', data-id='08')
              img(src='img/product/vwa08.png')
            .swatch-boundary
              .swatch-wrap
                .r1.ribbon.vwa08-A
                .r2.ribbon.vwa08-B
                .r3.ribbon.vwa08-C
        li
          section.box
            a#product03.watch(href='#profile', data-id='09')
              img(src='img/product/vwa09.png')
            .swatch-boundary
              .swatch-wrap
                .r1.ribbon.vwa09-A
                .r2.ribbon.vwa09-B
                .r3.ribbon.vwa09-C
        li
          section.box
            a#product01.watch(href='#profile', data-id='10')
              img(src='img/product/vwa10.png')
            .swatch-boundary
              .swatch-wrap
                .r1.ribbon.vwa10-A
                .r2.ribbon.vwa10-B
                .r3.ribbon.vwa10-C
        li
          section.box
            a#pr5duct02.watch(href='#profile', data-id='11')
              img(src='img/product/vwa11.png')
            .swatch-boundary
              .swatch-wrap
                .r1.ribbon.vwa11-A
                .r2.ribbon.vwa11-B
                .r3.ribbon.vwa11-C
        li
          section.box
            a#product03.watch(href='#profile', data-id='12')
              img(src='img/product/vwa12.png')
            .swatch-boundary
              .swatch-wrap
                .r1.ribbon.vwa12-A
                .r2.ribbon.vwa12-B
                .r3.ribbon.vwa12-C
        li
          section.box
            a#product01.watch(href='#profile', data-id='13')
              img(src='img/product/vwa13.png')
            .swatch-boundary
              .swatch-wrap
                .r1.ribbon.vwa13-A
                .r2.ribbon.vwa13-B
                .r3.ribbon.vwa13-C
        li
          section.box
            a#pr5duct02.watch(href='#profile', data-id='14')
              img(src='img/product/vwa14.png')
            .swatch-boundary
              .swatch-wrap
                .r1.ribbon.vwa14-A
                .r2.ribbon.vwa14-B
                .r3.ribbon.vwa14-C


    section#profile.feature

      h2
        span.productTitle
          = "a watch!"
        = " in "
        span.productColour
          = "Choose"

      .lightbox
        img(src='img/lightbox/vwa01.png').vwa01
        img(src='img/lightbox/vwa02.png').vwa02
        img(src='img/lightbox/vwa03.png').vwa03
        img(src='img/lightbox/vwa04.png').vwa04
        img(src='img/lightbox/vwa05.png').vwa05
        img(src='img/lightbox/vwa06.png').vwa06
        img(src='img/lightbox/vwa07.png').vwa07
        img(src='img/lightbox/vwa08.png').vwa08
        img(src='img/lightbox/vwa09.png').vwa09
        img(src='img/lightbox/vwa10.png').vwa10
        img(src='img/lightbox/vwa11.png').vwa11
        img(src='img/lightbox/vwa12.png').vwa12
        img(src='img/lightbox/vwa13.png').vwa13
        img(src='img/lightbox/vwa14.png').vwa14


    hr




    section.type
      small
        = "Bezel: Anodized Aluminum Alloy"
        br
        = "Case: High Grade Bayer PC with FDA degree"
        br
        = "Glass: Hardened"
        br
        = "Dial: Copper"
        br
        = "Hands: Copper Alloy with Luminous Function"
        br
        = "Strap material: Silicone Rubber"
        br
        = "Weight: 43m"
        br
        = "Case Diameter: 4.45cm"
        br
        = "Strap length: 27cm"


    section#claim.type
      .col
        h2
          | Claim your
          br
          | free gift
        p Atop has partnered with IdeaHouse. For a limited time, get a free lasered personalised gift tag with every ATOP* purchase through our trusted retailer.
        p Chosen watch: Yellow VWA&mdash;02

        button#cta.cta(href='#') Continue &rarr;



    hr




    footer
      section.type
        .col
          p
            | All content &copy; Ideahouse Corp. S/B
            | / ATOP watches 2013
          p
            li Our trusted retailer
            li
              = "w: "
              a(href='http://www.ideahouse.com.my') ideahouse.com.my
            li t: +603 6275 4648
            li f: +603 6272 1648
            li e: info@ideahouse.com.my
            li a: Kuala Lumpur, MALAYSIA

              p ATOP headquaters
          ul
            li t: +603 6275 4648
            li f: +603 6272 1648
            li e: info@ideahouse.com.my
            li a: Kuala Lumpur, MALAYSIA




  script(type='text/javascript', src='js/jquery.min.js')
  script(type='text/javascript', src='js/jquery.easing.js')
  script(type='text/javascript', src='js/atop.min.js')



