table#productTable
  background: $base
  background: $darkGrey
  background: rgba(0, 0, 0, 0.7)
  margin-bottom: 8px
  width: 70%
  margin: 0 auto
  border-radius: 2px

  th
    text-align: left
    padding: 20px 20px 25px 20px
  td
    border-top: 1px solid rgba(0, 0, 0, 0.2)
    color: $darkGrey
    color: $base
    vertical-align: top
    text-align: left
    padding: 5px 20px 12px 20px
    font-family: monospace

  td:first-child
    width: 35%
    padding-right: 20px
  td:last-child
    width: 65%


@media (min-width: 0px) and (max-width: $tablet-max)
  #logo
    position: absolute

img#lightbox
  z-index: 4
  margin: auto

@media (max-width: $phone-max)
  img#lightbox
    width: 100%

img.editorial1,
img.editorial2
  width: 50%
  float: left

@media (max-width: $phone-max)
  img.editorial1
    width: 100%
  img.editorial2
    display: none

.buttons
  background: pink
  // font-family: "Din Monospace Regular", "Lucida Console", Monaco, monospace
  font-size: 1.4rem
  font-weight: normal
  font-style: normal
  letter-spacing: 0.05em
  word-spacing: -0.2em
  line-height: 1.3em
  border: none
  text-transform: uppercase
  text-decoration: none
  padding: 10px 15px
  border: none
  display: block

  position: absolute
  top: 50px
  right: 0
  // &.generic
    // margin: 0 auto
  // &.generic + &.generic
    // margin-top: 15px
.cta
  margin-top: 40px
  margin-left: -6px
  transition: all 100ms ease-in
  box-shadow: 6px 6px 0px 0px rgba(50, 50, 50, 0.4)
  border: none
  background: white
  padding: 16px 20px

@media (max-width: $phone-max)
  // button
  //   &.cta
  //     margin-top: 20px


