@import "includes/variables.scss";

header{
	position:absolute;
	top:0;
	left:0;
	background:none;
	z-index:8;
	}

.break{
	display:block;
	}

h1{
	padding-top:145px;
	}

section{
	display:block;
	clear:both;
	margin: auto;
	width:100%;

		&.hero {
		background: url("../img/hero_mobile.jpg") 47% 0% no-repeat;
		height:400px;
		}

		&.product{
		padding:40px 0;

		margin: auto;
		width: 300px;
		}
	}

.column-l{
	width: 100%;
	min-height: none;
	clear: left;
	margin: auto;

	}

.column-r{
	width: 100%;
	clear: left;
	margin: auto;
	}


img#lightbox{
	width: 100%;
	}

button.cta{
	margin-top:20px;
	}

img.editorial{
	width: 100%;
	}

.wrap{
	width:100%;
	}



.blurb-wrap{
	background:none;
}

.ribbon{
	width:350px;
	}

.type{
	width:85%;
	margin:auto;
	}

.typeboxed{
	width:87%;
	margin:auto;
	}



.editorial2{
	display:none;
	}




