nav
  z-index: 99
  position: fixed
  top: 0
  left: 0
  width: 100vw

  ol
    position: absolute
    right: 0
    top: 0
    padding: 0
    margin: 0

    text-align: center
    position: fixed
    list-style: none

    li
      line-height: 0
      width: 60px
      display: inline-block

    a
      text-decoration: none


  a#logo
    height: 60px
