@keyframes turn-glass
  0%
    transform: rotateZ(0deg)
  100%
    transform: rotateZ(360deg)


@keyframes turn-m
  0%
    transform: rotateZ(0deg) translateZ(4px)
  100%
    transform: rotateZ(360deg) translateZ(4px)

svg
  display: none


.time
  // animation-duration: 30s
  animation-duration: 5s
  animation-iteration-count: infinite
  animation-timing-function: linear
  animation-name: turn-m
  transform-origin: 50% 50%

  .pause
    animation-play-state: paused



li section.box a.watch
  svg
    display: block


  .def
    position: absolute
    top: 0
    left: 0
    
    &.offset
      top: 62px  

    img, 
    svg
      position: absolute
      top: 0
      left: 0

      &.h300
        height: 300px
        width: 300px

      &.h400
        height: 400px
        width: 300px



  .def:nth-child(1)
    z-index: 999
  
  .def:nth-child(2)
    z-index: 998

  .def:nth-child(3)
    z-index: 997

  .def:nth-child(4)
    z-index: 996
  
  .def:nth-child(5)
    z-index: 995
  
  .def:nth-child(6)
    z-index: 994

  .def:nth-child(7)
    z-index: 993
  
  .def:nth-child(8)
    z-index: 992
  
  .def:nth-child(9)
    z-index: 991
   
  .def:nth-child(10)
    z-index: 70

  .def:nth-child(11)
    z-index: 70

  .def:nth-child(12)
    z-index: 70




