$colour-00: #e7e057
$colour-01: #914174
$colour-02: #eab8ef
$colour-03: #dcb632
$colour-04: #ebd17d
$colour-05: #c62a1f
$colour-06: #a53836
$colour-07: #33462b
$colour-08: #99aa7b
$colour-09: #40d1e4
$colour-10: #28778d
$colour-11: #cd6a40
$colour-12: #414342
$colour-13: #2a2c5c
$colour-14: #b7382e
$colour-15: #181818
$colour-16: #2d2d2d
$colour-17: #353534
$colour-18: #c44e46
$colour-19: #262421
$colour-20: #545857
$colour-21: #b3c0bb
$colour-22: #f2f1e0
$colour-23: #d5d6c5
$colour-24: #e2e7e1
$colour-25: #e6e9ea
$colour-26: #231b19
$colour-27: #313130
$colour-28: #c23327
$colour-29: #323737
$colour-30: #181617
$colour-31: #f2f2f2
$colour-32: #b33b6f
$colour-33: #dc5578
$colour-34: #ffffff
$colour-35: #449998
$colour-36: #9ae1e0


.vwa01
  .wedge
    fill: $colour-00
  .roundel
    fill: $colour-02
  .shape
    fill: $colour-01
  .ribbon:nth-child(1)
    background-color: $colour-00
  .ribbon:nth-child(2)
    background-color: $colour-01
  .ribbon:nth-child(3)
    background-color: $colour-02


.vwa02
  .wedge
    fill: $colour-03
  .roundel
    fill: $colour-04
  .shape
    fill: $colour-05
  .ribbon:nth-child(1)
    background-color: $colour-03
  .ribbon:nth-child(2)
    background-color: $colour-04
  .ribbon:nth-child(3)
    background-color: $colour-05


.vwa03
  .wedge
    fill: $colour-06
  .roundel
    fill: $colour-07
  .shape
    fill: $colour-08
  .ribbon:nth-child(1)
    background-color: $colour-06
  .ribbon:nth-child(2)
    background-color: $colour-07
  .ribbon:nth-child(3)
    background-color: $colour-08


.vwa04
  .wedge
    fill: $colour-09
  .roundel
    fill: $colour-10
  .shape
    fill: $colour-11
  .ribbon:nth-child(1)
    background-color: $colour-09
  .ribbon:nth-child(2)
    background-color: $colour-10
  .ribbon:nth-child(3)
    background-color: $colour-11


.vwa05
  .dial
    fill: white
  .wedge
    fill: $colour-12
  .roundel
    fill: $colour-13
  .shape
    fill: $colour-14
  .ribbon:nth-child(1)
    background-color: $colour-12
  .ribbon:nth-child(2)
    background-color: $colour-13
  .ribbon:nth-child(3)
    background-color: $colour-14


.vwa06
  .dial
    fill: white 
  .wedge
    fill: $colour-15
  .roundel
    fill: $colour-16
  .shape
    fill: $colour-17
  .ribbon:nth-child(1)
    background-color: $colour-15
  .ribbon:nth-child(2)
    background-color: $colour-16
  .ribbon:nth-child(3)
    background-color: $colour-17


.vwa07
  .dial
    fill: white 
  .wedge
    fill: $colour-18
  .roundel
    fill: $colour-19
  .shape
    fill: $colour-20
  .ribbon:nth-child(1)
    background-color: $colour-18
  .ribbon:nth-child(2)
    background-color: $colour-19
  .ribbon:nth-child(3)
    background-color: $colour-20


.vwa08
  .dial
    fill: black 
  .wedge
    fill: $colour-21
  .roundel
    fill: $colour-22
  .shape
    fill: $colour-23
  .ribbon:nth-child(1)
    background-color: $colour-21
  .ribbon:nth-child(2)
    background-color: $colour-22
  .ribbon:nth-child(3)
    background-color: $colour-23
    

.vwa09
  .dial
    fill: white 
  .wedge
    fill: $colour-24
  .roundel
    fill: $colour-25
  .shape
    fill: $colour-26

  .ribbon:nth-child(1)
    background-color: $colour-24
  .ribbon:nth-child(2)
    background-color: $colour-25
  .ribbon:nth-child(3)
    background-color: $colour-26


