.vwa01-A{
  background-color:#e7e057;
  }
.vwa01-B{
  background-color:#914174;
  }
.vwa01-C{
  background-color:#eab8ef;
  }

.vwa02-A{
  background-color:#dcb632;
  }
.vwa02-B{
  background-color:#ebd17d;
  }
.vwa02-C{
  background-color:#c62a1f;
  }

.vwa03-A{
  background-color:#a53836;
  }
.vwa03-B{
  background-color:#33462b;
  }
.vwa03-C{
  background-color:#99aa7b;
  }

.vwa04-A{
  background-color:#e7e057;
  }
.vwa04-B{
  background-color:#40d1e4;
  }
.vwa04-C{
  background-color:#28778d;
  }

.vwa05-A{
  background-color:#a53836;
  }
.vwa05-B{
  background-color:#33462b;
  }
.vwa05-C{
  background-color:#99aa7b;
  }


.vwa06-A{
  background-color:#cd6a40;
  }
.vwa06-B{
  background-color:#414342;
  }
.vwa06-C{
  background-color:#2a2c5c;
  }

.vwa07-A{
  background-color:#b7382e;
  }
.vwa07-B{
  background-color:#181818;
  }
.vwa07-C{
  background-color:#2d2d2d;
  }


.vwa08-A{
  background-color:#353534;
  }
.vwa08-B{
  background-color:#c44e46;
  }
.vwa08-C{
  background-color:#262421;
  }

.vwa09-A{
  background-color:#353534;
  }
.vwa09-B{
  background-color:#545857;
  }
.vwa09-C{
  background-color:#b3c0bb;
  }

.vwa10-A{
  background-color:#f2f1e0;
  }
.vwa10-B{
  background-color:#d5d6c5;
  }
.vwa10-C{
  background-color:#e2e7e1;
  }


.vwa11-A{
  background-color:#e6e9ea;
  }
.vwa11-B{
  background-color:#231b19;
  }
.vwa11-C{
  background-color:#313130;
  }


.vwa12-A{
  background-color:#c23327;
  }
.vwa12-B{
  background-color:#323737;
  }
.vwa12-C{
  background-color:#181617;
  }



.vwa13-A{
  background-color:#f2f2f2;
  }
.vwa13-B{
  background-color:#b33b6f;
  }
.vwa13-C{
  background-color:#dc5578;
  }



.vwa14-A{
  background-color:#ffffff;
  }
.vwa14-B{
  background-color:#449998;
  }
.vwa14-C{
  background-color:#9ae1e0;
  }



/* ETC */
